//Colors
$primary: #00DFD4;
$primary-hover: #009E97;
$secondary: #092033;
$secondary-hover: #343E45;
$main-bg: #EBEBED;
$dark-text: #041F34;
$dark-accent-line: #091F34;
$dark-top-accent-line: #0D1B2A;
$dark-accent-text: #041722; //Seems like this should match the $dark-text...leaving in for further discussion w/design
$light-accent-text: #CBD2D9;
$gray-accent-text: #62676B;
$maps-accent: #091722;
$maps-border: #B0B0B1;
$footer-text: #9091A8;