@import 'reset';
@import 'colors';
@import 'mediaqueries';
@mixin accent-block($bg-color, $bottom-position) {
	content: '';
	display: block;
	position: absolute;
	bottom: $bottom-position;
	width: 60px;
	height: 14px;
	background-color: $bg-color;
}
html {
	background-color: $main-bg;
	font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.row {
	margin: 0 auto;
	width: 100%;
}
.button {
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 2px;
	cursor: pointer;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	&.primary {
		border: 1px solid $primary;
		background-color: $primary;
		&:hover {
			border-color: $primary-hover;
			background-color: $primary-hover;
		}
	}
	&.secondary {
		border: 1px solid $secondary;
		background-color: $secondary;
		&:hover {
			border-color: $secondary-hover;
			background-color: $secondary-hover;
		}
	}
}
header {
	background-color: transparent;
	display: flex;
	padding: 1rem;
	position: absolute;
	width: 100%;
	.logo {
		margin: 0 90% 0 0;
	}
	nav {
		display: none;
	}
}
.hamburger {
	width: 50px;
	height: 50px;
	img {
		width: 100%;
	}
}
h1 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 4rem;
	padding: 6rem 0 4rem;
}

.hero {
	background: url(../imgs/header-image.jpg) transparent no-repeat center center;
	background-size: cover;
	.sign-up-cta {
		text-align: center;
		padding:11rem 0 16rem;
	}
	.portrait {
		border: 1px solid transparent;
		border-radius: 10rem;
	}
}

.tips {
	display: flex;
	flex-flow: row;
	justify-content: center;
	@media(max-width: #{$phone}){
		flex-flow: column;
	}
	.flex-item {
		flex: 1 1 20rem;
		padding: 8rem 0;
	}
	.video {
		background: url(../imgs/video-image.jpg) transparent no-repeat center center;
		background-size: cover;
		text-align: center;
		img {
			cursor: pointer;
		}
	}
	.featured-article {
		background-color: white;
		a {
			display: block;
			position: relative;
			padding: 5rem;
			line-height: 1.5;
			color: $dark-text;
			font-family: 'Playfair Display', sans-serif;
			font-size: 2.25rem;
			text-decoration: none;
		}
		a::after {
			@include accent-block($dark-text, 2rem);
		}
	}
}
.company-info {
	background-color: transparent;
	padding: 4rem 10rem;
	border: 1px solid #979797;
	@media(max-width: #{phone}){
		flex-flow: column;
		padding: 0 2rem;
	}
	.row:first-child{
		margin-bottom: 3rem;
	}
	.card {
		background-color: white;
		padding: 2rem;
		float: left;
		flex: 0 0 auto;
		border-top: 4px solid $dark-top-accent-line;
		color: $gray-accent-text;
		&.about {
			width: 33%;
			margin-right: 2rem;
		}
		&.facts {
			width: 48%;
		}
		&.location {
			width: 90%
		}
		@media(max-width: #{$phone}){
			width: 100%;
		}
		.address {
			margin: 2rem 0;
		}
		p {
			line-height: 1.5;
			margin-bottom: 1rem;
		}
	}
	h2 {
		color: $light-accent-text;
		padding: 1rem 0;
	}
	h3 {
		color: $dark-accent-text;
		padding: 1rem 0;
		font-weight: bold;
	}
}
.sign-up {
	.focal-block {
		float: left;
		display: block;
		background-color: $primary;
		width: 25%;
		padding: 5rem;
		line-height: 1.5;
		color: white;
		font-size: 2rem;
		text-decoration: none;
	}
	.email-signup-form {
		float: left;
		width:74%;
	}
}
footer {
	
}